.mt-1{
	margin-top: 1em;
}
.mt-2{
	margin-top: 2em;
}
.mb-1{
	margin-bottom: 1em;
}
.mb-2{
	margin-bottom: 2em;
}
.pt-1{
	padding-top: 1em;
}
.pt-2{
	padding-top: 2em;
}
.display-block{
	display: block;
}
.display-inline{
	display: inline-block;
}
.right{
	float: right;
}
.mr-1{
	margin-right: 1em;
}
.bold{
	font-weight: bold;
}